body {
    background-color: #212529;
}

main {
    padding-top: 200px;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

img {
    display: block;
    max-width: 75%;
    max-height: 75%;
  }